{
  "presets": [
    ["@babel/preset-env", {"useBuiltIns": "entry"}],
    "@babel/preset-react",
  ],
  "plugins": [
    ["module-resolver", 
      {
        "root": ["./src"],
        "alias": {
          "assets": "./assets"
        }
      }
    ],
    "@babel/plugin-syntax-dynamic-import"
  ],
  "env": {
    "test": {
      "plugins": ["dynamic-import-node"]
    }
  }
}