{
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
  },
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": [
    "react-hooks"
  ],
  "rules": {
    "react/jsx-filename-extension": 0,
    "react-hooks/rules-of-hooks": "error",
    "import/no-unresolved": [2, { ignore: ['\.(css|scss)\?module'] }]
  },
  "settings" : {
    "import/resolver": {
      "babel-module": {
        "extensions": [".js", ".jsx"]
      }
    }  
  }

}